.container {
	max-width: 1200px;
	margin: 0 auto;
}
.title{
	font-size: 34px;
	color: #778ca3;
}
.contact__title{
	font-size: 24px;
}
.contact__info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}
.contact__info_item{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.social__items{
	display: flex;
	align-items: center;
	justify-content: center;
}
.social__item{
	margin: 0 12px;
}
.social__icon{
	width: 25px;
	height: 25px;
	color: #778ca3;
	transition: .3s ease-in-out;
}
.social__icon:hover{
	color: rgb(0, 176, 176);
}
.email__link{
	color: #778ca3;
	transition: .3s ease-in-out;
}
.email__link:hover{
	color: rgb(0, 176, 176);
	text-decoration: underline;
}
.information{
	color: #778ca3;
}